<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <!-- Call a computed property method WITHOUT parentheses -->
      <h3>Hello {{fullName}}</h3> 
      <p>
        Set add increment
        <!-- the v-model is a Vue shortcut for v-on:input and v-bind in an input field -->
        <input type="text" v-model="addIncrement" />
      </p>
      <p>
        Set subtract increment
        <input
          type="text"
          v-on:input="setDecrement($event, 'this is other Argument')"
          v-bind:value="subtractIncrement"
        />
      </p>
      <button v-on:click="add(addIncrement)">Add {{addIncrement}}</button>
      <button v-on:click="subtract(subtractIncrement)">
        Subtract {{subtractIncrement}}
      </button>
      <p>Result: {{ counter }}</p>
      <p>
        Your name
        <input type="text" v-model="name" />
        <button v-on:click="resetName()">Reset name</button>
      </p>
      <!-- the submit.prevent is an event modifier used by Vue, same as event.prevendDefault() -->
      <form v-on:submit.prevent="submitForm">
        <input type="text" v-bind:value="name" name="nameInput" />
        <button>Sign up</button>
      </form>
    </section>
  </body>
</html>
